<h1>Articles#show</h1>
<p>Find me in app/views/articles/show.html.erb</p>

<%= @article.title %>
<p> - </p>
<%= @article.content %>
<%= link_to "Remove", article_path(@article), method: :delete %>


<p>yeah... it's cool to show this shit</p>
